<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" src="../css/burger_style.css" type="text/css" />
		<title>Burgers</title>
	</head>
	<body>
	<img src="../img/burger.jpeg">
		{{{ body }}}
	</body>
</html